.home-wrapper {
  background-color: $color-light;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  position: static;

  a {
    margin: 0;
    padding: 0;

    p {
      transition: 0.5s ease-in-out;
    }

    p:nth-child(2) {
      opacity: 0;
      font-weight: $font-light;
      text-transform: lowercase;
      font-style: $font-text;
      font-size: $base-size + 5;
      top: 80px;
    }

    // &:hover {
    //   p:nth-child(2) {
    //     opacity: 1;
    //     transform: translate(-50%, -30px);
    //   }

    //   p:nth-child(1) {
    //     transform: translate(-50%, -20px);
    //   }
    // }
  }
}

.homepage-button {
  position: relative;
  height: ($base-size * 10);
  border-radius: 4px;
  width: 100%;
  // border: 2px solid red;
  align-items: center;
  // margin: 5px 5px 5px 5px;

  p {
    position: absolute;
    z-index: 1;
    font-family: $font-header;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: $color-light;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
}

.button-big {
  background-color: $color-main;
  color: $color-light;
  position: relative;
  margin-top: 5px;

  p:nth-child(1) {
    position: absolute;
    top: 10px;
  }

  p:nth-child(2) {
    position: absolute;
    top: 57px;

    font-family: $font-text;
    font-weight: $font-light;
    font-size: 14px;
  }
}

.button-small {
  max-width: 320px;

  &:nth-child(1) {
    margin-left: 3px;
  }
}
